body{
    background-color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signup{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color:aliceblue;
    border-radius: 3px;
}
.login{
    width: 360px;
    height: 240px;
    margin:auto;
    background-color: aliceblue;
    border-radius: 3px;
}
h1{
    text-align: center;
    padding-top: 10px;
}
form{
    width: 400px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}
form input{
    width: 75%;
    padding: 2px;
    border: none;
    border: 1px solid grey;
    border-radius: 7px;
    outline: none;
}
input[type="button"]{
    width: 75%;
    height: 20%;
    margin-top: 20px;
    border: none;
    background-color:lavender;
    font-size: 15px;
}
p{
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}
.p2{
    margin-top:-10px;
    text-align: center;
    font-size: 15px;
}

